

:root {
  /* colors */
    /* --background-color: #295D8A;
    --button-color: lightblue;
    --highlight-color: skyblue;
    --white-color: white;
    --contrast-color: steelblue; */

    --background-color: white;
    --button-color: thistle;
    --highlight-color: gainsboro;
    --white-color: whitesmoke;
    --contrast-color: lightgray;

    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
  background-color: var(--white-color);
  border-radius: 10px;
  border: 2px solid var(--highlight-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--button-color);
  border-radius: 10px;
}

body {
  height: 100%;
  overflow-y: hidden;
}

#header {
  text-align: center;
  grid-area: title;
  color: var(--contrast-color);
}

#game {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr 3fr;
  grid-template-rows: 10vh 14.7vw 40vh 15vh;
  grid-template-areas:
  "title title title title"
  "info music music music"
  "info work work score"
  "info overflow trash score";
  background-color: var(--background-color);
  gap: 15px;
  font-family: 'Rubik', sans-serif;
}


#musicandcontrols {
  grid-area: music;
  background-color: var(--contrast-color);
  border-radius: 10px;
  padding: 10px;
  display: flex;

}

#workspace {
  grid-area: work;
  border-style: double;
  border-width: 8px;
  border-color: var(--highlight-color);
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#overflow {
  display: flex;
  gap: 5px;
  grid-area: overflow;
  overflow-x: scroll;
  padding: 5px;
  border-color: var(--highlight-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}

#trash {
  grid-area: trash;
  background-color: var(--contrast-color);
  border-radius: 10px;
  background-size: 40%;
  background-position: center;
  background-image: url(graphics/delete_FILL0_wght400_GRAD0_opsz48.svg);
  background-origin: content-box;
  background-repeat: no-repeat;
}

#score {
  grid-area: score;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  height: 100%;
}

#playscore {
  /* border-radius: 50%; */
  /* background-color: thistle; */
  /* width: 20px; */
  /* height: 20px; */
  width: 20%;
}


.button {
  background-color: var(--button-color);
  font-size: 1rem;
  border-radius: 5px;;
  border: none;
  height: 2.2em;
}


:hover.button {
  background: var(--highlight-color);
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.phrase {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  align-items: center;
  gap: .5%;
  padding: .5%;
  background-color: var(--button-color);
  border-radius: 5px;
}

#phrase {
  width: 100%;
  background-color: var(--white-color);
  background-image: url(graphics/staff.svg);
  /* background-repeat: round; */
  background-origin: content-box;
  background-size: 100% 100%;
  /* background-position: center; */
  /* background-image: url('data:image/svg+xml,\
  <svg height="200">\
  <line x1="0" x2="300" y1="40" y2="40" stroke="lightsteelblue" stroke-width="3"></line>\
  <line x1="0" x2="300" y1="70" y2="70" stroke="lightsteelblue" stroke-width="3"></line>\
  <line x1="0" x2="300" y1="100" y2="100" stroke="lightsteelblue" stroke-width="3"></line>\
  <line x1="0" x2="300" y1="130" y2="130" stroke="lightsteelblue" stroke-width="3"></line>\
  <line x1="0" x2="300" y1="160" y2="160" stroke="lightsteelblue" stroke-width="3"></line>\
  </svg>') */
}

#addtoscore {
  transform: rotate(90deg);
  width: 20%;
}

#listcontrols {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.card-control > * {
  opacity: 50%;
}

.card {
  font-size: 0; /*The card div will be the wrong size without this setting*/
  aspect-ratio: 3 / 2;
  /* height: var(--card-height); */
  position: relative;
}

.card-control {
  position:absolute;
  width: 100%;
  height: auto;
  /* width: var(--card-width); */
  /* height: var(--card-height); */
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    ". top ."
    "left center right"
    ". bottom .";
  aspect-ratio: 3 / 2;

}

.card-control > .top {
  grid-area: top;
  cursor: pointer;
  position: relative;
}

:hover.top {
  /* background: radial-gradient(ellipse at top, skyblue 20%, rgba(70,159,252,0.006061799719887961) 75%); */
  background-image: url(graphics/sync_FILL0_wght400_GRAD0_opsz48.svg);
  margin: -14% 0;
  padding: 0 26.5%;
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-control > .right {
  grid-area: right;
  cursor: pointer;
}

:hover.right {
  /* background: radial-gradient(ellipse at right, skyblue 20%, rgba(70,159,252,0.006061799719887961) 75%); */
  background-image: url(graphics/sync_FILL0_wght400_GRAD0_opsz48.svg);
  margin: 0 -60%;
  padding: 23.5% 0;
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform:rotate(90deg);
  }

.card-control > .bottom {
  grid-area: bottom;
  cursor: pointer;
}

:hover.bottom {
  /* background: radial-gradient(ellipse at bottom, skyblue 20%, rgba(70,159,252,0.006061799719887961) 75%); */
  background-image: url(graphics/sync_FILL0_wght400_GRAD0_opsz48.svg);
  margin: -14% 0;
  padding: 0 26.5%;
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-control > .left {
  grid-area: left;
  cursor: pointer;
}

:hover.left {
  /* background: radial-gradient(ellipse at left, skyblue 20%, rgba(70,159,252,0) 75%); */
  background-image: url(graphics/sync_FILL0_wght400_GRAD0_opsz48.svg);
  margin: 0 -60%;
  padding: 23.5% 0;
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform:rotate(90deg);
}

.card-control > .center {
  grid-area: center;
  cursor: grab;
}

:hover.center {
  /* background: radial-gradient(ellipse at center , rgba(135, 206, 235, 0.5) 30%, rgba(70,159,252,0) 70%); */
  background-image: url(graphics/play_arrow_FILL0_wght400_GRAD0_opsz48.svg);
  padding: 0 16.5%;
  margin: -5% 0;
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

svg {
  user-select: none;
  height: 100%;
  width: 100%;
}

#cardlist {
  border-color: var(--contrast-color);
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  padding: 4%;

  display: flex;
  grid-area: info;
  flex-direction: column;
  gap: 10px;
  align-content: space-around;
  overflow-y: scroll;
}

.hidden {
  display: none;
}
