

:root {
  /* colors */
    --background-color: white;
    --contrast-color: thistle;
    --receding-color: gainsboro;
    --phrase-color: whitesmoke;
    --highlight-color: lightgray;

    color: var(--contrast-color);
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
  background-color: var(--phrase-color);
  border-radius: 10px;
  border: 2px solid var(--receding-color);
}

::-webkit-scrollbar-thumb {
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  background-color: var(--contrast-color);
}

body {
  height: 100%;
  overflow-y: hidden;
}

#header {
  text-align: center;
  grid-area: title;
  color: var(--contrast-color);
  letter-spacing: .2em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#game {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr 3fr;
  grid-template-rows: 10vh 14.7vw 40vh 15vh;
  grid-template-areas:
  "title title title title"
  "info music music music"
  "info work work score"
  "info overflow trash score";
  background-color: var(--background-color);
  gap: 15px;
  font-family: 'Rubik', sans-serif;
}


#musicandcontrols {
  grid-area: music;
  background-color: var(--highlight-color);
  border-radius: 10px;
  padding: 10px;
  display: flex;

}

#workspace {
  grid-area: work;
  border-style: double;
  border-width: 8px;
  border-color: var(--receding-color);
  background-color: var(--phrase-color);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#overflow {
  display: flex;
  gap: 5px;
  grid-area: overflow;
  overflow-x: scroll;
  padding: 5px;
  border-color: var(--receding-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}

#trash {
  grid-area: trash;
  background-color: var(--highlight-color);
  border-radius: 10px;
  background-size: min(50px, 20%);
  background-position: center;
  background-image: url(graphics/delete_FILL0_wght400_GRAD0_opsz48.svg);
  background-origin: content-box;
  background-repeat: no-repeat;
}

#score-area {
  grid-area: score;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}

#score {
  justify-content: flex-start;
}

button {
  width: 50px;
  border: none;
  background: none;
  height: 50px;
  padding: 0;
  cursor: pointer;
}

.icon {
  width: 50px;
  height: 50px;
}

.play {
  transform: translate(-4px);
  width: 55px;
  height: 55px;
}

.button {
  background-color: var(--contrast-color);
  font-size: 1rem;
  border-radius: 5px;;
  border: none;
  height: 2.2em;
}


:hover.button {
  background: var(--receding-color);
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.phrase {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  align-items: center;
  gap: 2px;
  padding: 2px;
  background-color: var(--contrast-color);
  border-radius: 5px;
  font-size: 0; /*The card div will be the wrong size without this setting*/
}

#phrase {
  width: 100%;
  background-color: var(--phrase-color);
  background-image: url(graphics/staff.svg);
  background-origin: content-box;
  background-size: 100% 100%;
  gap: 5px;
  padding: 5px;
}

#addtoscore {
  transform: rotate(90deg);
}

#phrase-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  padding-left: 5px;
}

.card-control > * {
  opacity: 50%;
}

.card {
  font-size: 0; /*The card div will be the wrong size without this setting*/
  aspect-ratio: 3 / 2;
  position: relative;
}

.card-control {
  position:absolute;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    ". top ."
    "left center right"
    ". bottom .";
  aspect-ratio: 3 / 2;

}

.card-control > .top {
  grid-area: top;
  cursor: pointer;
  position: relative;
}

:hover.top {

  background-image: url(graphics/sync_FILL0_wght400_GRAD0_opsz48.svg);
  margin: -14% 0;
  padding: 0 26.5%;
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-control > .right {
  grid-area: right;
  cursor: pointer;
}

:hover.right {
  background-image: url(graphics/sync_FILL0_wght400_GRAD0_opsz48.svg);
  margin: 0 -60%;
  padding: 23.5% 0;
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform:rotate(90deg);
  z-index: 5;
  }

.card-control > .bottom {
  grid-area: bottom;
  cursor: pointer;
}

:hover.bottom {
  background-image: url(graphics/sync_FILL0_wght400_GRAD0_opsz48.svg);
  margin: -14% 0;
  padding: 0 26.5%;
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-control > .left {
  grid-area: left;
  cursor: pointer;
}

:hover.left {
  background-image: url(graphics/sync_FILL0_wght400_GRAD0_opsz48.svg);
  margin: 0 -60%;
  padding: 23.5% 0;
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform:rotate(90deg);
}

.card-control > .center {
  grid-area: center;
  cursor: grab;
}

:hover.center {
  background-image: url(graphics/play_arrow_FILL0_wght400_GRAD0_opsz48.svg);
  padding: 0 16.5%;
  margin: -5% 0;
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

svg {
  user-select: none;
  height: 100%;
  width: 100%;
}

#cardlist {
  border-color: var(--highlight-color);
  border-width: 3px;
  border-style: solid;
  border-radius: 12px;
  padding: 4%;

  display: flex;
  grid-area: info;
  flex-direction: column;
  gap: 10px;
  align-content: space-around;
  overflow-y: scroll;
}

.hidden {
  display: none;
}
